@model booksmanagement.Models.Book

@{
    ViewBag.Title = "Book detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h3>
        @Model.Car.CarBrand.Name @Model.Car.Name @((Model.CarPart != null || Model.CarPartComponent != null || Model.CarPartComponentDesc != null) ?"(":"")@(Model.CarPart?.Name) @(Model.CarPartComponent?.Name) @(Model.CarPartComponentDesc?.Name)@((Model.CarPart != null || Model.CarPartComponent != null || Model.CarPartComponentDesc != null) ?")":"")
    </h3>
    <hr />
    <div class="row">
        <div class="col-md-4 col-sm-12">
            <dt>
                Car Name
            </dt>

            <dd>
                @Model.Car.CarBrand.Name @Model.Car.Name
            </dd>
        </div>
        <div class="col-md-4 col-sm-12">
            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>
        </div>
        <div class="col-md-4 col-sm-12">
            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
        </div>
        <div class="col-md-4 col-sm-12">
            <dt>
                @Html.DisplayNameFor(model => model.Keywords)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Keywords)
            </dd>
        </div>
        <div class="col-md-4 col-sm-12">
            <dt>
                @Html.DisplayNameFor(model => model.BookLocation)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BookLocation)
            </dd>
        </div>
        <div class="col-md-4 col-sm-12">
            <dt>
                @Html.DisplayNameFor(model => model.BookNumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BookNumber)
            </dd>
        </div>
        <div class="col-md-4 col-sm-12">
            <dt>
                @Html.DisplayNameFor(model => model.TypeId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TypeId)
            </dd>
        </div>
        <div class="col-md-4 col-sm-12">
            <dt>
                @Html.DisplayNameFor(model => model.Quantity)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Quantity)
            </dd>
        </div>
        <div class="col-md-4 col-sm-12">
            <dt>
                @Html.DisplayNameFor(model => model.IsActive)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IsActive)
            </dd>
        </div>
        <div class="col-md-4 col-sm-12">
            <dt>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreatedDate)
            </dd>
        </div>
    </div>

</div>
<hr />
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class="btn btn-primary shadow-sm"}) |
    @Html.ActionLink("Back to List", "Index")
</p>
