@model IEnumerable<booksmanagement.Models.Book>

@{
    ViewBag.Title = "Books";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    <a href="@Url.Action("Create", "Books")" class="btn btn-primary shadow-sm">
        <i class="fa fa-plus fa-sm text-white-50"></i>
        Create New
    </a>
</p>

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-block">
                <div class="dt-responsive table-responsive">
                    <table id="cars-table" class="table table-striped table-bordered nowrap">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Title)
                                </th>
                                <th>
                                    Car name
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TypeId)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.IsActive)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CreatedDate)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Title)
                                    </td>
                                    <td>
                                        @*@Html.DisplayFor(modelItem => item.Car.Name)*@

                                        @item.Car.Name @((item.CarPart != null || item.CarPartComponent != null || item.CarPartComponentDesc != null) ?"(":"")@(item.CarPart?.Name) @(item.CarPartComponent?.Name) @(item.CarPartComponentDesc?.Name)@((item.CarPart != null || item.CarPartComponent != null || item.CarPartComponentDesc != null) ?")":"")

                                    </td>
                                    <td>
                                        @*@Html.DisplayFor(modelItem => item.TypeId == 1 ? "Soft copy" : "Hard copy")*@
                                        @(@item.TypeId == 1 ? "Soft copy" : "Hard copy")
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.IsActive)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CreatedDate)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                        @*@Html.ActionLink("Details", "Details", new { id = item.Id }) |*@
                                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $('#cars-table').DataTable({
            "order": [
                [0, "asc"]
            ]
        });
    </script>
}
