
<nav class="pcoded-navbar">
    <div class="nav-list">
        <div class="pcoded-inner-navbar main-menu">
            <ul class="pcoded-item pcoded-left-item">
                <li class="@Html.IsSelected(actions: "Index", controllers: "Home", cssClass:"active")">
                    <a href="~/" class="waves-effect waves-dark">
                        <span class="pcoded-micon">
                            <i class="icon-home"></i>
                        </span>
                        <span class="pcoded-mtext">Dashboard</span>
                    </a>
                </li>
            </ul>
            @if (User.IsInRole("Admin"))
            {
                <div class="pcoded-navigation-label" menu-title-theme="theme1">Setups</div>
                <ul class="pcoded-item pcoded-left-item">
                    <li class="@Html.IsSelected(actions: "", controllers: "CarBrands", cssClass:"active")">
                        <a href="~/CarBrands" class="waves-effect waves-dark">
                            <span class="pcoded-micon">
                                <i class="fa fa-registered"></i>
                            </span>
                            <span class="pcoded-mtext">Car Brands</span>
                        </a>
                    </li>
                    <li class="@Html.IsSelected(actions: "", controllers: "Cars", cssClass:"active")">
                        <a href="~/Cars" class="waves-effect waves-dark">
                            <span class="pcoded-micon">
                                <i class="fa fa-automobile"></i>
                            </span>
                            <span class="pcoded-mtext">Cars</span>
                        </a>
                    </li>
                    <li class="@Html.IsSelected(actions: "", controllers: "CarParts", cssClass:"active")">
                        <a href="~/CarParts" class="waves-effect waves-dark">
                            <span class="pcoded-micon">
                                <i class="icon-puzzle"></i>
                            </span>
                            <span class="pcoded-mtext">Car Parts</span>
                        </a>
                    </li>
                    <li class="@Html.IsSelected(actions: "", controllers: "CarPartComponents", cssClass:"active")">
                        <a href="~/CarPartComponents" class="waves-effect waves-dark">
                            <span class="pcoded-micon">
                                <i class="icon-pie-chart"></i>
                            </span>
                            <span class="pcoded-mtext">Car Part Components</span>
                        </a>
                    </li>
                    <li class="@Html.IsSelected(actions: "", controllers: "CarPartComponentDescs", cssClass:"active")">
                        <a href="~/CarPartComponentDescs" class="waves-effect waves-dark">
                            <span class="pcoded-micon">
                                <i class="icon-doc"></i>
                            </span>
                            <span class="pcoded-mtext">Components Description</span>
                        </a>
                    </li>
                    <li class="@Html.IsSelected(actions: "", controllers: "Books", cssClass:"active")">
                        <a href="~/Books" class="waves-effect waves-dark">
                            <span class="pcoded-micon">
                                <i class="fa fa-book"></i>
                            </span>
                            <span class="pcoded-mtext">Books</span>
                        </a>
                    </li>
                </ul>
            }
            <div class="pcoded-navigation-label" menu-title-theme="theme1">Book Borrow</div>
            <ul class="pcoded-item pcoded-left-item">
                <li class="@Html.IsSelected(actions: "", controllers: "BookBorrow", cssClass:"active")">
                    <a href="~/BookBorrow" class="waves-effect waves-dark">
                        <span class="pcoded-micon">
                            <i class="icon-note"></i>
                        </span>
                        <span class="pcoded-mtext">Borrow Book</span>
                    </a>
                </li>
            </ul>
            <ul class="pcoded-item pcoded-left-item">
                <li class="@Html.IsSelected(actions: "", controllers: "BookRequests", cssClass:"active")">
                    <a href="~/BookRequests" class="waves-effect waves-dark">
                        <span class="pcoded-micon">
                            <i class="icon-layers"></i>
                        </span>
                        <span class="pcoded-mtext">Book Borrow Requests</span>
                    </a>
                </li>
            </ul>
            <div class="pcoded-navigation-label" menu-title-theme="theme1">Drawing Order</div>
            <ul class="pcoded-item pcoded-left-item">
                <li class="@Html.IsSelected(actions: "New", controllers: "DrawingOrders", cssClass:"active")">
                    <a href="~/DrawingOrders/New" class="waves-effect waves-dark">
                        <span class="pcoded-micon">
                            <i class="fa fa-object-ungroup"></i>
                        </span>
                        <span class="pcoded-mtext">New Drawing Order</span>
                    </a>
                </li>
            </ul>
            <ul class="pcoded-item pcoded-left-item">
                <li class="@Html.IsSelected(actions: "Index", controllers: "DrawingOrders", cssClass:"active")">
                    <a href="~/DrawingOrders" class="waves-effect waves-dark">
                        <span class="pcoded-micon">
                            <i class="icon-layers"></i>
                        </span>
                        <span class="pcoded-mtext">Drawing Order Requests</span>
                    </a>
                </li>
            </ul>
            @if (User.IsInRole("Admin"))
            {
                <div class="pcoded-navigation-label" menu-title-theme="theme1">Admin area</div>
                <ul class="pcoded-item pcoded-left-item">
                    <li class="@Html.IsSelected(actions: "", controllers: "Account", cssClass:"active")">
                        <a href="~/Account" class="waves-effect waves-dark">
                            <span class="pcoded-micon">
                                <i class="icon-people"></i>
                            </span>
                            <span class="pcoded-mtext">User Management</span>
                        </a>
                    </li>
                </ul>
            }
        </div>
    </div>
</nav>
