@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row" ng-controller="HomeCtrl">

    <div class="col-sm-12 col-md-6" ng-if="pendingRequests.length>0"  style="font-size:12px">
        <div class="card table-card">
            <div class="card-header">
                <h5>Pending book requests</h5>

            </div>
            <div class="card-block">
                <div class="table-responsive">
                    <table class="table table-hover m-b-0">
                        <thead>
                            @if (@User.IsInRole(booksmanagement.Helpers.RoleName.Admin))
                            {
                                <tr>
                                    <th>Applicant</th>
                                    <th>Book</th>
                                    <th>Status</th>
                                    <th></th>
                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <th>Book</th>
                                    <th>Status</th>
                                    <th></th>
                                </tr>
                            }

                        </thead>
                        <tbody>
                            @if (@User.IsInRole(booksmanagement.Helpers.RoleName.Admin))
                            {
                                <tr ng-repeat="request in pendingRequests">
                                    <td>{{request.Applicant.FirstName}} {{request.Applicant.LastName}}</td>
                                    <td>{{request.Book.Title}}</td>
                                    <td>
                                        <label ng-if="request.Status == 1" class="badge badge-inverse-primary">Pending</label>
                                        <label ng-if="request.Status != 1" class="badge badge-inverse-primary">Other</label>
                                    </td>
                                    <td>
                                        <a href="#" title="Approve" ng-click="approveBookRequest(request.Id)" data-toggle="tooltip" data-placement="top" data-trigger="hover">
                                            <i class="fa fa-check text-c-green"></i>
                                        </a>
                                        <a href="#" title="View detail" ng-click="openApproveRequestModal(request)" data-toggle="tooltip" data-placement="top" data-trigger="hover">
                                            <i class="fa fa-eye text-c-blue"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                            else
                            {
                                <tr ng-repeat="request in pendingRequests">
                                    <td>{{request.Book.Title}}</td>
                                    <td>
                                        <label ng-if="request.Status == 1" class="badge badge-inverse-primary">Pending</label>
                                        <label ng-if="request.Status != 1" class="badge badge-inverse-primary">Other</label>
                                    </td>
                                    <td>
                                        <a href="#" title="View detail" ng-click="openViewRequestModal(request)" data-toggle="tooltip" data-placement="top" data-trigger="hover">
                                            <i class="fa fa-eye text-c-blue"></i>
                                        </a>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-6" ng-if="grantedRequests.length>0" style="font-size:12px">
        <div class="card table-card">
            <div class="card-header">
                @if (@User.IsInRole(booksmanagement.Helpers.RoleName.Admin))
                {
                    <h5>Books need to be collected</h5>
                }
                else
                {
                    <h5>Books need to be returned</h5>
                }

            </div>
            <div class="card-block">
                <div class="table-responsive">
                    <table class="table table-hover m-b-0">
                        <thead>
                            @if (@User.IsInRole(booksmanagement.Helpers.RoleName.Admin))
                            {
                                <tr>
                                    <th>Applicant</th>
                                    <th>Book</th>
                                    <th>Date</th>
                                    <th></th>
                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <th>Book</th>
                                    <th>Date</th>
                                </tr>
                            }

                        </thead>
                        <tbody>
                            @if (@User.IsInRole(booksmanagement.Helpers.RoleName.Admin))
                            {
                                <tr ng-repeat="request in grantedRequests">
                                    <td>{{request.Applicant.FirstName}} {{request.Applicant.LastName}}</td>
                                    <td>{{request.Book.Title}}</td>
                                    <td>
                                        {{request.FromDate | date : 'dd-MMM-yyyy'}} - <br />{{request.ToDate | date : 'dd-MMM-yyyy'}}
                                    </td>
                                    <td>
                                        <a href="#" ng-if="request.Status == 3" title="Collect book" ng-click="collectBook(request.Id)">
                                            <i class="fa fa-history text-c-blue"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                            else
                            {
                                <tr ng-repeat="request in grantedRequests">
                                    <td>{{request.Book.Title}}</td>
                                    <td>
                                        {{request.FromDate | date : 'dd-MMM-yyyy'}} - {{request.ToDate | date : 'dd-MMM-yyyy'}}
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>


@section Scripts {
    <script src="~/Scripts/js/ng-controllers/home-ctrl.js"></script>
}