@model IEnumerable<booksmanagement.Models.Car>

@{
    ViewBag.Title = "Cars";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<p>
    <a href="@Url.Action("Create", "Cars")" class="btn btn-primary shadow-sm">
        <i class="fa fa-plus fa-sm text-white-50"></i>
        Create New
    </a>
</p>
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            
            <div class="card-block">
                <div class="dt-responsive table-responsive">
                    <table id="cars-table" class="table table-striped table-bordered nowrap">
                        <thead>
                            <tr>
                                <th>Car Name</th>
                                <th>Brand</th>
                                <th>@Html.DisplayNameFor(model => model.Class)</th>
                                <th>@Html.DisplayNameFor(model => model.IsArchived)</th>
                                <th>Created date</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                string rowStyle = item.IsArchived ? "background-color:#f6acac" : null;
                            <tr style="@rowStyle">
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CarBrand.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Class)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IsArchived)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CreatedAt)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script>
        $(document).ready(function () {
            $('#cars-table').DataTable({
                "order": [
                    [0, "asc"]
                ]
            });
        })
        
    </script>    
}
